@model IEnumerable<ASPApplication.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAge)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
