 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
     <style>
        body{
            background: #EB5757;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color:white;
            font-family:'Times New Roman', Times, serif;
        }
    </style>
@model ASPApplication.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="">
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
